extends layout.pug

block content 
 section#content
    h2 Welcome, student!
    form(action='/goodbye', method='post')
        button(type='submit') Goodbye
        p
            a(href='/cards') Begin!